<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
  	<title></title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
    <div id="wrapper">
    	<h2>Welcome!</h2>
    	<h2>Register</h2>
    	<form action="/users" method="POST">
			<label>Name: </label><input type="text" name="name"><br>
			<label>Alias: </label><input type="text" name="alias"><br>
			<label>Email: </label><input type="text" name="email"><br>
			<label>Password: </label><input type="password" name="password"><br>
			<label>Confirm PW: </label><input type="password" name="confirm_pw"><br>
			<label>Date of Birth</label><input type="date" name="date_of_birth">
			<input type="submit" name="submit" value="Register" id="submit">	
		</form><br>

		<h2>Login</h2>
		<form action="/login" method="POST">
			<label>Email: </label><input type="text" name="email"><br>
			<label>Password: </label><input type="password" name="password"><br>
			<input type="submit" name="submit" value="Login" id="submit">	
		</form>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
    </div>
  </body>
</html>
